[defaults]
host_key_checking = False
timeout = 60
remote_user = ubuntu
retry_files_enabled = False

[inventory]
enable_plugins = yaml

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = true
